// poppims
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// merriweather
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
// playfair display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
// cormorant garamond
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

$font-family: 'Poppins', sans-serif;
$font-additional: 'Cormorant Garamond', serif;
$primary-color: #7daaea;
$secondary-color: #6c757d;
